<mat-toolbar color="primary" class="app-toolbar">
  <a routerLink="/" class="brand">
    <img src="assets/Monkey3.png" class="brand-logo" alt="W?W?W?W? logo" />
    <span class="brand-text">What? When? Where? Who?</span>
  </a>

  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user">
    <span class="user-section">
      <span class="user-name" *ngIf="user.displayName">
        {{ user.displayName }}
      </span>
      <button mat-icon-button (click)="goToProfile()" matTooltip="View profile" class="profile-btn">
        <img *ngIf="user.photoURL" [src]="user.photoURL" class="avatar" referrerpolicy="no-referrer" [alt]="user.displayName || user.email || ''" />
        <img *ngIf="!user.photoURL && user.character" [src]="user.character.imagePath" class="avatar" [alt]="user.character.name" [matTooltip]="user.character.name" />
      </button>
    </span>
    <button mat-icon-button (click)="logout()" matTooltip="Sign out">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
