<mat-toolbar color="primary" class="app-toolbar">
  <a routerLink="/" class="brand">
    <img src="assets/Monkey3.png" class="brand-logo" alt="W?W?W?W? logo" />
    <span>What? When? Where? Who?</span>
  </a>

  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user">
    <img *ngIf="user.photoURL" [src]="user.photoURL" class="avatar" referrerpolicy="no-referrer" [matTooltip]="user.displayName || user.email || ''" />
    <span class="user-name">
      <span *ngIf="user.displayName" class="user-display-name">{{ user.displayName }}</span>
      <span class="user-email">{{ user.email }}</span>
    </span>
    <button mat-icon-button (click)="logout()" matTooltip="Sign out">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
