@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}

mat-card {
  border-radius: 12px !important;
}
